<div class="dashhead">
    <div class="dashhead-titles">
        <h6 class="dashhead-subtitle">{{subtitle}}</h6>
        <h2 class="dashhead-title">{{title}}</h2>

    </div>

</div>

<div class="jumbotron">
    <form name="loginForm">
        <h2>{{formTitle}}</h2>
        <input class="form-control" type="text" ng-model="login.email" placeholder="Email"
               ng-minlength="3" required/>
        <input class="form-control" type="password" ng-model="login.password" placeholder="Senha"
               ng-minlength="3" required/>


        <button ng-click="doLogin(login)" type="button" ng-disabled="loginForm.$invalid" class="btn btn-default form-control btn-primary">
            {{buttonDescription}}
        </button>
        <button ng-click="cancel()" type="button" class="btn btn-default form-control btn-default">
            Cancelar
        </button>
    </form>


</div>
