<div class="col-sm-2 sidebar">
    <nav class="sidebar-nav">
        <div class="sidebar-header">
            <button class="nav-toggler nav-toggler-sm sidebar-toggler" type="button" data-toggle="collapse"
                    data-target="#nav-toggleable-sm">
                <span class="sr-only">Toggle nav</span>
            </button>
            <a class="sidebar-brand img-responsive" href="../index.html">
                <!--   <span class="icon icon-leaf sidebar-brand-icon"></span> -->
            </a>
        </div>

        <div class="collapse nav-toggleable-sm" id="nav-toggleable-sm">

            <ul class="nav nav-pills nav-stacked">
                <li class="nav-header">gráficos</li>
                <li class="active">
                    <a ui-sref="timeline">Gráficos</a>
                </li>


                <li class="nav-header">Cadastros</li>

                <li>
                    <a ui-sref="employees">Funcionários</a>
                </li>


            </ul>
            <hr class="visible-xs m-t">
        </div>
    </nav>
</div>
