<div class="dashhead">
    <div class="dashhead-titles">
        <h6 class="dashhead-subtitle">{{subtitle}}</h6>
        <h2 class="dashhead-title">{{title}}</h2>

    </div>

</div>

<hr class="m-t">
<div class="row">

    <div class="col-md-6">
        <h6 class="dashhead-subtitle">Farmácia</h6>
        <h2 ng-model="store">{{store.storeName}}</h2>
    </div>

    <div class="col-sm-6">
        <button type="button" ng-click="goToAddEmployeeForm()" class="btn btn-primary-outline"><span
                class="icon icon-add-user"></span> Adicionar Novo Funcionário
        </button>
    </div>
</div>


<div class="flextable table-actions">
    <div class="flextable-item flextable-primary">
        <div class="btn-toolbar-item input-with-icon">
            <input id="filterInput" class="form-control" ng-model="searchText" placeholder="Filtrar..."><span
                class="icon icon-magnifying-glass"></span>
        </div>
    </div>
    <div class="table-full"></div>
    <div class="table-responsive">
        <table class="table table-condensed">
            <thead>
            <tr>
                <th class="header">Id</th>
                <th class="header">Nome</th>
                <th class="header">Função</th>
                <th class="header">Horários</th>
                <th class="header">Editar</th>
                <th class="header">Excluir</th>
            </tr>
            </thead>

            <tbody>
            <tr ng-repeat="employee in employees | filter:searchText">
                <td class="col-md-1">{{employee.employeeId}}</td>
                <td class="col-md-1">{{employee.employeeName | nameFilter}}</td>
                <td class="col-md-1">{{employee.workFunction | nameFilter}}</td>
                <td class="col-md-1">
                    <button ng-click="goToTimePattern(employee)" class="btn btn-sm" type="button"><span
                            class="icon icon-clock" aria-hidden="true"></span></button>
                </td>
                <td class="col-md-1">
                    <button ng-click="getEmployeeToUpdate(employee)" class="btn btn-sm" type="button"><span
                            class="icon icon-edit" aria-hidden="true"></span></button>
                </td>
                <td class="col-md-1">
                    <button ng-click="deleteEmployee(employee)" class="btn btn-sm" type="button"><span
                            class="icon icon-erase" aria-hidden="true"></span></button>
                </td>
            </tr>

            </tbody>
        </table>


    </div>
</div>
<!--</div>-->

